# Ignore shit
Recellection/bin
Recellection/obj
RecellectionTests/bin
RecellectionTests/obj
TestResult.xml

*.user
*.suo
_ReSharper.*
_UpgradeReport*
UpgradeLog.XML
*.sln.cache
*.Debug.cachefile
*.VisualState.xml
#*.sln
StyleCop.*
